.listusers{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
    padding: 10px 50px;
    margin: 30px;
    border-radius: 6px;
    background: white;

}
.listusers-format-main{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr ;
    gap: 5px;
    width: 100%;
    padding: 10px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;

}
.listusers-allusers{
    width: 100%;

}

.listusers-romove-icon{
    cursor: pointer;
}

.listusers-format{
    
}